<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/allblogs.css">
    <title>Blogs</title>
</head>
<body>
    {{>Nav}}
    <h1>All Blogs</h1>

    <div class="individual-blogs-container">
        {{#each blogs}}
            <div class="individual-blog">
                <h4>{{this.title}}</h4>
                <p>{{this.blog}}</p>
            </div>
        {{/each}}
    </div>
    
</body>
</html>