<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/allblogs.css">
    <title>Blogs</title>
</head>
<body>
    {{>Nav}}
 <div class="top-element-container">
    <h1>All Blogs</h1>
    
    <form class="toggle" action="/allblogs" method="POST">
            <input type="hidden" name="ascending" value="{{ascending}}">
            <button class="ascending" type="submit">{{#if ascending}}Latest{{else}}Earliest{{/if}}</button>
    </form>
    
    <div class="search-container">
         <form class="keyword" action="/blogs" method="GET
         ">
            <label for="keyword">Search by title keyword</label>
            <input required type="text" name="keyword">
            <button class="find-by-keyword" type="submit">Find</button>
        </form>
    
         <form class="author" action="/blogs" method="GET
         ">
            <label for="author">Search by author surname OR first name</label>
            <input required type="text" name="author">
            <button class="find-by-author" type="submit">Find</button>
        </form>
        </div>

    </div>

     <div class="individual-blogs-container">
        {{#each blogs}}
        <div class="individual-blog">
            <a href="/blog/{{this.id}}">{{this.title}}</a> 
        </div>
        {{/each}}
    </div>

</body>
</html>