<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>All Users</title>
</head>
<body>
    {{>Nav}}
   <h1>Home Page</h1>
   <p>Welcome to the users database homepage. </p> 
   <p>You can see the list of users, update an existing user or register a new user. </p>
</body>
</html>