<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
    <form action="/register" method="POST">
        <label for="first_name" >first name</label>
        <input type="text" name="first_name"><br>
        <label for="surname">surname</label>
        <input type="text" name="surname"><br>
        <label for="email">email</label>
        <input type="text" name="email"><br>
        <label type="text" name="password">password</label>
        <input type="text" name="password">
        <br>
        <button type="submit">Update User</button>
    </form>
</head>
<body>
    
</body>
</html>