<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Register User</title>
</head>
<body>
    {{>Nav}}
    <h1>Register a new user</h1>
    <form class="register" action="/register" method="POST">
        <label for="first_name" >first name</label>
        <input type="text" name="first_name"><br>
        <label for="surname">surname</label>
        <input type="text" name="surname"><br>
        <label for="email">email</label>
        <input id="register-email" type="email" name="email"><br>
        <label for="password">password</label>
        <input type="password" name="password">
        <br>
        <button type="submit">Register</button>
    </form>

    {{#if firstNameRegistered}}
        <p>{{firstNameRegistered}} {{surnameRegistered}} has been registered as a user.</p>
    {{/if}}

    {{#if existingEmail}}
        <p>The email {{existingEmail}} already exists in the database.  Please check the list of users in case you are already registered, or register with a different email.</p>
    {{/if}}
</body>
</html>