body {
    background-color: #EDF2F4;
    color: #2B2D42;
    text-align: center;
    margin: 0;
}

.top-element-container{
    position: fixed;
    top: 0;
    margin-top: 1.75em; 
    width: 100%;
}

h1 {
    width: 100%;
    background-color: #EDF2F4;
    padding: 0.5em 0 0.5em 0;
    margin-bottom:0;
}

.toggle {
    background-color:#EDF2F4; 
    margin: 0;
    padding-bottom: 1em;
}

.ascending {
    background-color:#8D99AE;
    border-radius: 5%;
    padding: 0.5em;
    margin: 0 auto 0 1em;
}
.search-container{
    background-color:#EDF2F4; 
    padding-bottom: 1em;
}

.keyword{
    display: inline;
    margin: 0 1em 0 0;
}

.author {
    display: inline;
}

.find-by-keyword, .find-by-author {
    background-color: #D90429;
    color: #2B2D42;
    border-radius: 5%;
}

.noBlogs{
    margin-top: 2em;
    margin-bottom: 4em;
}

.individual-blogs-container{
    margin-top: 13em;
    margin-bottom: 4em;
}

.individual-blog{
    margin: 0.3em 0 0.3em 0;
}

.individual-blog a{
    text-decoration: none;
}

.individual-blog a:link{
    color: #D90429
}

.individual-blog a:visited{
    color: #8D99AE
}

/* IPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    
    .keyword{
        display: block;
        margin: 0 0 0.5em 0;
    
    }

    .keyword label{
        display: block;
    }
    
    .author {
        display: block;
    }

    .author label {
        display:block;
    }

}

/* smalll tablet (landscape) ----------- */
@media only screen and (min-device-width : 540px) and (max-device-width : 720px) and (orientation : landscape) {

    .keyword{
        display: block;
        margin: 0 0 0.5em 0;
    
    }

    .keyword label{
        display: block;
    }
    
    .author {
        display: block;
    }

    .author label {
        display:block;
    }
}

@media only screen and (max-width: 600px) {

    .keyword{
        display: block;
        margin: 0 0 0.5em 0;
    
    }

    .keyword label{
        display: block;
    }
    
    .author {
        display: block;
    }

    .author label {
        display:block;
    }

}



   
    
 