nav {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-inline-start: 0;
    background-color: #8D99AE;
    padding: 1em 1em 1em 0;
    margin:0;
}

nav ul li {
    padding-left: 1em;
}

nav ul li a{
    text-decoration: none;
    background-color: #EF233C;
    border-radius: 5%;
    padding: 0.5em;
}

nav ul li a:link {
    color: #2B2D42;
}

nav ul li a:visited{
    color: #EDF2F4;
}

@media only screen and (max-width: 350px) {

    nav ul li {
        padding-left: 0.5em;
    }

    nav ul li a{
        padding: 0.25em;
        font-size: 1em;
    }

}